<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @manager.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @manager.team %>
</p>

<% @manager.tags.each.with_index(1) do | tag, index | %>
  <p>
    <% if tag.id.present? %>
      <strong>Tag <%= index %>:</strong>
      <%= link_to tag.body, edit_tag_path(tag) %>
    <% end %>
  </p>
<% end %>

<p>
  <%= render 'tags/form', taggable: @manager, tag: @tag %>
</p>

<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
