<p id="notice"><%= notice %></p>


<p>
  <%= image_tag @player&.profile_picture&.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @player.team %>
</p>

<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>

<% @player.tags.each.with_index(1) do | tag, index | %>
  <p>
    <% if tag.id.present? %>
      <strong>Tag <%= index %>:</strong>
      <%= link_to tag.body, edit_tag_path(tag) %>
    <% end %>
  </p>
<% end %>

<p>
  <%= render 'tags/form', taggable: @player, tag: @tag %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
